## Converts the heat and temperature data to csv format

In [25]:
import pandas as pd
import datetime 
import string

In [72]:
# read column headings
with open ('/Users/stewarta/repos/iot-htsensor/data/columns.txt') as f:
    cols = f.readlines()
    
cols = [ln.strip() for ln in cols] 
print(cols)

['timestamp', 'Start Symbol', 'Zustand', 'Zeitstempel', 'Temp1', 'Temp2', 'Temp3', 'Temp4', 'Temp5', 'Temp6', 'Temp7', 'Temp8', 'Humi1', 'Humi2', 'Humi3', 'Humi4', 'Humi5', 'Humi6', 'Humi7', 'Humi8', 'Temperatur Kombisensor', 'Humid Kombisensor', 'Windgeschwindigkeit', 'Niederschlag', 'Rain', 'Stop Symbol']

In [73]:
# read data from file
df = pd.read_csv('/Users/stewarta/Documents/DATA/htsensor/raw.data', sep = ';',decimal=',', names=cols)
df.head()

,timestamp,Start Symbol,Zustand,Zeitstempel,Temp1,Temp2,Temp3,Temp4,Temp5,Temp6,...,Humi5,Humi6,Humi7,Humi8,Temperatur Kombisensor,Humid Kombisensor,Windgeschwindigkeit,Niederschlag,Rain,Stop Symbol
0,2013-04-14 07:44:23,$1,1,NaN,10.1,19.6,23.0,20.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2013-04-14 07:44:30,$1,1,NaN,10.1,19.6,23.0,20.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2013-04-14 07:45:37,$1,1,NaN,10.1,19.6,23.0,20.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,2013-04-14 07:46:03,$1,1,NaN,10.1,19.6,23.0,20.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,2013-04-14 07:46:19,$1,1,NaN,10.1,19.6,23.0,20.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [80]:
# parse date and insert as new column
df.insert(1, 'datetime', pd.to_datetime(df.timestamp, errors='coerce')) # If ‘coerce’, then invalid parsing will be set as NaT

In [81]:
df.head()

,timestamp,datetime,Start Symbol,Zustand,Zeitstempel,Temp1,Temp2,Temp3,Temp4,Temp5,...,Humi5,Humi6,Humi7,Humi8,Temperatur Kombisensor,Humid Kombisensor,Windgeschwindigkeit,Niederschlag,Rain,Stop Symbol
datetime,,,,,,,,,,,,,,,,,,,,,
2013-04-14 07:44:23,2013-04-14 07:44:23,2013-04-14 07:44:23,$1,1,NaN,10.1,19.6,23.0,20.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2013-04-14 07:44:30,2013-04-14 07:44:30,2013-04-14 07:44:30,$1,1,NaN,10.1,19.6,23.0,20.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2013-04-14 07:45:37,2013-04-14 07:45:37,2013-04-14 07:45:37,$1,1,NaN,10.1,19.6,23.0,20.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2013-04-14 07:46:03,2013-04-14 07:46:03,2013-04-14 07:46:03,$1,1,NaN,10.1,19.6,23.0,20.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2013-04-14 07:46:19,2013-04-14 07:46:19,2013-04-14 07:46:19,$1,1,NaN,10.1,19.6,23.0,20.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [75]:
df.set_index('datetime', inplace=True)

In [82]:
df.head()

,timestamp,datetime,Start Symbol,Zustand,Zeitstempel,Temp1,Temp2,Temp3,Temp4,Temp5,...,Humi5,Humi6,Humi7,Humi8,Temperatur Kombisensor,Humid Kombisensor,Windgeschwindigkeit,Niederschlag,Rain,Stop Symbol
datetime,,,,,,,,,,,,,,,,,,,,,
2013-04-14 07:44:23,2013-04-14 07:44:23,2013-04-14 07:44:23,$1,1,NaN,10.1,19.6,23.0,20.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2013-04-14 07:44:30,2013-04-14 07:44:30,2013-04-14 07:44:30,$1,1,NaN,10.1,19.6,23.0,20.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2013-04-14 07:45:37,2013-04-14 07:45:37,2013-04-14 07:45:37,$1,1,NaN,10.1,19.6,23.0,20.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2013-04-14 07:46:03,2013-04-14 07:46:03,2013-04-14 07:46:03,$1,1,NaN,10.1,19.6,23.0,20.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2013-04-14 07:46:19,2013-04-14 07:46:19,2013-04-14 07:46:19,$1,1,NaN,10.1,19.6,23.0,20.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [83]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1093567 entries, 2013-04-14 07:44:23 to 2016-02-09 22:41:09
Data columns (total 27 columns):
timestamp                 1093567 non-null object
datetime                  1092265 non-null datetime64[ns]
Start Symbol              1093567 non-null object
Zustand                   1093567 non-null int64
Zeitstempel               0 non-null float64
Temp1                     1089409 non-null float64
Temp2                     1029527 non-null float64
Temp3                     787389 non-null float64
Temp4                     679930 non-null float64
Temp5                     14 non-null float64
Temp6                     28 non-null float64
Temp7                     0 non-null float64
Temp8                     893742 non-null float64
Humi1                     1089403 non-null float64
Humi2                     1029531 non-null float64
Humi3                     787386 non-null float64
Humi4                     679935 non-null float64
Humi5                     60 non-null float64
Humi6                     87 non-null float64
Humi7                     7 non-null float64
Humi8                     0 non-null float64
Temperatur Kombisensor    0 non-null float64
Humid Kombisensor         0 non-null float64
Windgeschwindigkeit       0 non-null float64
Niederschlag              14 non-null float64
Rain                      14 non-null float64
Stop Symbol               1093567 non-null int64
dtypes: datetime64[ns](1), float64(22), int64(2), object(2)
memory usage: 233.6+ MB

In [84]:
rs = df['Temp1'].resample('H').mean()

In [85]:
type(rs)

pandas.core.series.Series

In [40]:
df.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1093567 entries, 0 to 1093566
Data columns (total 27 columns):
timestamp                 1093567 non-null object
Start Symbol              1093567 non-null object
Zustand                   1093567 non-null int64
Zeitstempel               0 non-null float64
Temp1                     1089409 non-null object
Temp2                     1029527 non-null object
Temp3                     787389 non-null object
Temp4                     679930 non-null object
Temp5                     14 non-null object
Temp6                     28 non-null object
Temp7                     0 non-null float64
Temp8                     893742 non-null object
Humi1                     1089403 non-null float64
Humi2                     1029531 non-null float64
Humi3                     787386 non-null float64
Humi4                     679935 non-null float64
Humi5                     60 non-null float64
Humi6                     87 non-null float64
Humi7                     7 non-null float64
Humi8                     0 non-null float64
Temperatur Kombisensor    0 non-null float64
Humid Kombisensor         0 non-null float64
Windgeschwindigkeit       0 non-null float64
Niederschlag              14 non-null float64
Rain                      14 non-null float64
Stop Symbol               1093567 non-null int64
datetime                  1092265 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(15), int64(2), object(9)
memory usage: 225.3+ MB

In [19]:
# drop columns with no data
empty = [col for col in df.columns if df[col].isnull().all()]
print(empty)

['Zustand', 'Temp6', 'Humi7', 'Humi8', 'Temperatur Kombisensor', 'Humid Kombisensor', 'Stop Symbol']

In [23]:
1089409 + 787389

1876798